{% extends 'layout.html.twig' %}

{% block nav %}
  {% include 'navbar.html.twig' %}
{% endblock %}

{% block content %}
    <h1>Modifier</h1>
    <form method="post">
    <label for="title">Modifier la question</label>
    <input type="text" value="{{question.entitled}}" name="title" id="title">
    {% for answer in answers %}
    <label for="title">Modifier la réponse</label>
   <input type="text" value="{{ answer.content }}" name="id">
    {% endfor %}
	<input type="submit" value="Modifier">
</form>
{% endblock %}