{% extends 'layout.html.twig' %}

{% block content %}
    <div class="admin-tritri">
        <img src="https://i.goopics.net/la626m.png" class="tritriLuffy" alt= 'logo trilinga'>
    </div>
    <h1>Admin</h1>
    <div>
        <a href="/admin/add" role="button" class="add" >Ajouter au Quiz</a><br>

        <a href="/admin/edit" role="button" class="edit">Modifier le Quiz</a><br>

        <a href="/logout" role="button" class="logout">Déconnexion</a>   
    </div>
{% endblock %}

{% block footer %}
    <ul>
        <li><a href="/about">A propos</a></li>
        <li><a href="/">Start</a></li>
    </ul>
{% endblock %}
